<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Pagos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Formulario de Pagos</h1>
    <form method="POST" action="/Pago">
        <label for="Nombre_pago">Nombre del Pago:</label>
        <input type="text" id="Nombre_pago" name="Nombre_pago" required><br>

        <label for="Fecha_pago">Fecha de Pago:</label>
        <input type="date" id="Fecha_pago" name="Fecha_pago" required><br>

        <label for="Fecha_creacion">Fecha de Creación:</label>
        <input type="date" id="Fecha_creacion" name="Fecha_creacion" required><br>

        <label for="Progreso_pago">Progreso de Pago:</label>
        <input type="text" id="Progreso_pago" name="Progreso_pago" required><br>

        <label for="Cantidad_pagar">Cantidad a Pagar:</label>
        <input type="number" id="Cantidad_pagar" name="Cantidad_pagar" required><br>

        <label for="Estatus">Estatus:</label>
        <input type="text" id="Estatus" name="Estatus" required><br>

        <input type="submit" value="Realizar Pago">
    </form>
</body>
</html>-->